@model RezervacijaSmjestaja.Models.Korisnik

<h2>Prijava</h2>

<form asp-action="Login">
    <div>
        <label>Email</label>
        <input name="email" />
    </div>
    <div>
        <label>Lozinka</label>
        <input name="lozinka" type="password" />
    </div>
    <button type="submit">Prijavi se</button>
</form>