@model RezervacijaSmjestaja.Models.Rezervacija

<h2 class="text-center mb-4">Uredi rezervaciju</h2>

<form asp-action="Uredi" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="DatumOd" class="form-label">Datum od</label>
        <input asp-for="DatumOd" type="date" class="form-control" required />
    </div>

    <div class="mb-3">
        <label asp-for="DatumDo" class="form-label">Datum do</label>
        <input asp-for="DatumDo" type="date" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Spremi promjene</button>
</form>
